<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>MainPage</welcome-file>
    <welcome-file>Search</welcome-file>
    <welcome-file>ReviewPage</welcome-file>
    <welcome-file>ProductPage</welcome-file>
    <welcome-file>Orders</welcome-file>
    <welcome-file>SignIn</welcome-file>
    <welcome-file>Register</welcome-file>
    <welcome-file>PurchaseOrder</welcome-file>
    <welcome-file>PurchaseOrderConfirmation.html</welcome-file>
  </welcome-file-list>
</web-app>